.tracking-in-expand-fwd {
    -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
}
.tracking-in-expand-fwd-300 {
    -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) 300ms both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        300ms both;
}
.tracking-in-expand-fwd-500 {
    -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) 500ms both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        500ms both;
}
.tracking-in-expand-fwd-700 {
    -webkit-animation: tracking-in-expand-fwd 0.8s
        cubic-bezier(0.215, 0.61, 0.355, 1) 700ms both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
        700ms both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.7s ease-in-out both;
    animation: slide-in-left 0.7s ease-in-out both;
}
.fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        400ms both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 400ms both;
}

.fade-in-bottom {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-in-bottom-300 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        300ms both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 300ms
        both;
}
.fade-in-bottom-500 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        500ms both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 500ms
        both;
}
.fade-in-bottom-700 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        700ms both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 700ms
        both;
}

.fade-in {
    -webkit-animation: fade-in 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s
        both;
    animation: fade-in 1.9s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-in-left-300 {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        300ms both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 300ms both;
}
.fade-in-left-500 {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        500ms both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 500ms both;
}
.fade-in-left-700 {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        700ms both;
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 700ms both;
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.fade-in-right-300 {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        300ms both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 300ms both;
}
.fade-in-right-500 {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        500ms both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 500ms both;
}
.fade-in-right-700 {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
        700ms both;
    animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 700ms both;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-10 14:28:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    fade-in-bottom
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    fade-in-fwd
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    tracking-in-expand-fwd
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    fade-in
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    fade-in-left
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    tracking-in-expand
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

*
    ----------------------------------------
    *
    animation
    slide-in-left
    *
    ----------------------------------------
    */
    @-webkit-keyframes
    slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
